*{
    margin:0;
    padding:0;
}
/* html{ */
    /* font-size: 30px; */
/* } */
/* div{
    width: 150px;
    height: 150px !important;
    background-color: beige ;
}

.container{
    width: 200px;
    height: 200px !important;
    background-color: aqua;
}

#div1{
    width: 300px;
} */


/* body{ */
    /* width: 200px; */
    /* height: 200px; */
    /* background-color: aqua; */
    /* background-image: url('http://by-image.oss-cn-shanghai.aliyuncs.com/Pre/drumkit/cover.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
/* } */

/* .container{ */
    /* width: 500px;
    background-color: aqua; */
    /* text-indent:50px; */
    /* text-align: center;
    word-spacing: 10px;
    letter-spacing: 10px;
    text-decoration:line-through; */
    /* font-size:30px; */
    /* font-weight:500; */
    /* font-style:italic;
    font-family:'Times New Roman', Times, serif;
    border:1px dashed black; */
/* } */


.container{
    width: 300px;
    height: 300px;
    background-color: aqua;
    padding-top:50px;
    padding-left:50px;
    /* padding-bottom:50px;
    padding-right:50px;
    border:1px solid black; */
    /* margin-left:100px; */
    /* margin-right:100px; */
    /* margin-bottom:100px; */
    /* height: 100vh;
    background-color: aqua; */
    /* margin-top:100px; */
    margin-left:100px;
    margin-right:100px;
    margin-bottom:100px;    
    border:1px solid black;
}


.div1{
    width: 100px;
    height: 100px;
    background-color: red;
    /* margin-left: 100px;
    padding-left:100px; */
    /* display: inline; */
}

.span1{
    /* padding-left:100px; */
    height: 100px;
    width: 100px;
    /* padding-left:100px; */
    background-color: aqua;
    display: inline-block;
}

img{
    width: 300px;
    height: 500px;
    display: inline-block;
}


/* .parent h1{
    background-color: aqua;
    font-size: 20px;
} */

.parent>.div2>h1{
    background-color: aqua; 
    font-size: 20px;
}

/* h1.child{
    background-color: aqua; 
    font-size: 20px; 
} */

/* div,h1{
    background-color: red; 
    font-size: 20px; 
} */
