*{
    padding:0;
    margin:0;
}

.header{
    height: 60px;
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.header-left{
    /* width: 500px; */
    height: 60px;
    background-color: red;
    display: flex;
    align-items: center;
}

.img{
    width: 30px;
    height: 30px;
    background-color: brown;
    margin-left: 10px;
}

.search-input-container{
    display: flex;
    /* justify-items: center; */
    position: relative;
}

.input-img{
    height: 15px;
    width: 15px;
    background-color: chartreuse;
    position: absolute;
    right: 5px;
    top:4.5px;
}

.search-input{
    width: 180px;
    height: 20px;
    margin-left: 10px;
}

.header-lists{
    display: flex;
    /* flex-direction: column; */
    background-color: aqua;
}

.header-li{
    margin-left:22px;
}


.header-right{
    width: 100px;
    height: 60px;
    background-color: yellow;
}